.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
   

body{
    background-color: blue;
    
}

body {
    background:grey;
}




.apropos{
    width: 100%;
    height: 100vh;
    padding: 78px 0px;
}

.apropos img{
    height: auto;
    width: 300px;
    border-radius: 20px;
}

.text-apropos{
    width: 500px;
}
.text-apropos h1{
    color:black;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-apropos h5{
    color:black;
    font-size: 20px;
    margin-top: 25px;
    letter-spacing: 2px;

}

.text-apropos p{
    color:brown;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 45px;
    font-weight: bold;
}

.main{
    display: flex;
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #f9004d;
}

.button-groupe{
    display: flex;
    gap: 15px;
}

button{
    background: #f9004d;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004d;
}

.navbar{
    width: 86px;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items:center;
    justify-content: space-between;
    
}



ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(red, green, blue)
}
    
footer {
    text-align: center;
    padding: 15px;
    background: black;
    color: white;
    margin-top: 20px;
}